<section class="card">
    <header class="card-header">
        <h2>Explore</h2>
    </header>
    <div class="card-content">
        <form action="/form-handling-page.html" method="post">
            <p>
            <label for="initial_section">I would like to:</label>
            <select id="initial_section" name=”initial_section”>
                <option value="">-- Select --</option>
                <option value="option1">Option1</option>
                <option value="option2">Option2</option>
            </select>
            </p>
            <button type=”submit”>Go!</button>
        </form>
    </div>
</section>