<nav class="card-holder">
    <header class="card-holder-header"><h2>I would like to...</h2></header>
    <ul class="list-unstyled grid">
        {% for item in site.data.explorer_options %}
            <li class="card col-1-4 {% if item.key == page.explorer_key %} active {% endif %}">{{ item.value }}</li>
        {% endfor %}
    </ul>
</nav>

{% for item in site.data.explorer_options %}
    {% if item.key == page.explorer_key %}
    <nav class="card-holder">
        <header class="card-holder-header"><h2>and...</h2></header>
        {% for sub_item in item.sub_items %}
            <ul class="list-unstyled grid">
                <li class="card col-1-4">{{ sub_item.value }}</li>
            </ul>
        {% endfor %}
    </nav>
    {% endif %}
{% endfor %}