<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Title Here</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body class="container">

    <aside class="sidebar">
        <nav>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
            </ul>
        </nav>
    </aside>

    <header class="header">
        <h1>Grid Layout example</h1>
    </header>

    <!-- {{ content }} -->

    <main class="content">
        <section>
            <header>
                <h2>Section</h2>
            </header>
            <p>Here is some text</p>
            <p>More text</p>
            <p>A little more text</p>
        </section>
        <section>
            <header>
                <h2>Secion</h2>
            </header>
            <p>Here is some text</p>
            <p>More text</p>
            <p>A little more text</p>
        </section>
        <section>
            <header>
                <h2>Secion</h2>
            </header>
            <p>Here is some text</p>
            <p>More text</p>
            <p>A little more text</p>
        </section>
    </main>

    <footer class="footer">HERE IS A TEST</footer>
</body>

</html>