<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Title Here</title>
</head>

<body>

    <aside>
        <nav>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
            </ul>
        </nav>
    </aside>

    <header>
        <h1>PHP Array Explorer</h1>
    </header>

    <!-- {{ content }} -->

    <main>
        <section>
            <header>
                <h2>Secion</h2>
            </header>
            <p>Here is some text</p>
            <p>More text</p>
            <p>A little more text</p>
        </section>
        <section>
            <header>
                <h2>Secion</h2>
            </header>
            <p>Here is some text</p>
            <p>More text</p>
            <p>A little more text</p>
        </section>
        <section>
            <header>
                <h2>Secion</h2>
            </header>
            <p>Here is some text</p>
            <p>More text</p>
            <p>A little more text</p>
        </section>
    </main>

    <footer></footer>
</body>

</html>